@import "tailwindcss";

:root {
  --size-icon-small: 16px;
  --size-icon-medium: 20px;
  --size-icon-large: 24px;
}

@theme {
  --color-background: white;
  --color-foreground: var(--color-zinc-950);
  --color-foreground-accent: var(--color-zinc-500);

  --color-primary: var(--color-zinc-900);
  --color-primary-foreground: var(--color-zinc-50);

  --color-secondary: var(--color-zinc-100);
  --color-secondary-foreground: var(--color-zinc-900);

  --color-destructive: var(--color-red-500);
  --color-destructive-foreground: var(--color-zinc-50);
  --color-destructive-accent: var(--color-red-700);

  --color-success: var(--color-emerald-200);
  --color-success-foreground: var(--color-zinc-900);
  --color-success-accent: var(--color-emerald-400);

  --color-global-border: var(--color-zinc-200);
}

@layer base {
  body {
    color: var(--color-foreground);
  }

  *:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
